<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    
    
    <a href="/reptiles/new">Add Reptile</a>
    <a href="/reptiles">All Reptiles</a>
  </body>
</html>
