#main{
  background:rgb(156, 156, 252);
  height:250px;
  width:250px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 20px;
  margin-right: 20px;
  border-radius: 12px;
  padding: 20px;
  outline:2px black ;
}

.attributes{
  line-height: 1;
}

#label{
  height: 30px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#content{
  display: flex;
  flex-wrap: wrap;
}

#card-nav{
  height: 40px;
  width: 100%;
  display:flex;
  justify-content:flex-end;
  align-items: flex-end;
}

#homepage{
  background-color:white;
  width: 100vw;
  height: 100vh;
  display: flex;
  
}

#nav-bar{
  background-color: rgb(156, 156, 252);
  width: 15%;
  height:100%;
}

#information{
  background-color: white;
  width: 85%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border: black;
}

h1{
  width: 100%;
  align-content: center;
}

#login{
  background-color: rgb(156, 156, 252);
  color: black;
  border-radius: 50%;
  text-decoration: none;
  padding: 50px 50px 50px 50px;
}