<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="" class="brand-logo left">Reptile Database</a>
<!-- Add login UI here -->
<ul class="right">
	<li>
	<% if (breeder) { %>
		<a href="/logout"><i class="material-icons left">trending_flat</i>Log Out</a>
	<% } else { %>
		<a href="/auth/google"><i class="material-icons left">vpn_key</i>Login with Google</a>
	<% } %>
	</li>
</ul>
</body>
</html>